*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
    
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;

}

/*header*/

header{
    background-color: darkslategray;

}

nav{
    background-color: goldenrod;
}

footer{
    background-color: darkslategray;
}

body{
    font-family: "Poppins", sans-serif
}

/*header*/
@media(min-width:320px){

    .header__contenedor{
        display: flex;
        flex-direction: column;



    }

    .header__titulo{
        font-size: 0.9rem;

    }
    .header__logo{
        width: 45%;
    }

    .idioma{
        display: flex;
        justify-content: end;
        font-size: 0,8rem;
        
    }
    .idioma__item{
        display: flex;
        justify-content: end;
        font-size: 0,5rem;
        
    }

    .nav .nav__lista{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
    .searchbar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .searchbar__boton{
        background-color: goldenrod;
        border-style: none;
        font-size: 1rem;
    }
    /*Main(index)*/
    section h4 h2 p{
        gap: 1,3rem;
    }

    .Noticias__parrafo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 2%;
        font-size: 0,8rem;
    }

    .Noticias__titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 2%;
    }

    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    hr{
        margin: 1%;
    }
    
    .EleccionDe__titulo{
        margin: 2%;
        
    }

     .EleccionDe__titulo{
        font-size: 2rem;
        
     }
     /*footer*/

     .footer__noticias{
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: center;
     }

     .footer__titulo{
        font-size: 1.5rem;
        text-align: center;
     }
     
     .footer__redes{
        display: flex;
        flex-direction: column;
        align-items: center;

     }
     .footer__logo{
        width: 20%;
        border-radius: 20px;
     }

     .footer__red{
        font-size: 1,5rem;
     }

     .suscribirse__titulo{
        text-align: center;
     }
     .suscribirse__form{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2%;

     }
     .suscribirse__boton{
        font-size: 1.2rem;
     }

     /*Main(AnalisisDm)*/
     .Analisis__titulo{
        text-align: center;
        
     }
     .Analisis__article{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1%;
     }



    

     }

     




@media(min-width:1024px){

    .header__titulo{
        font-size: 2rem;
    }
    .idioma {
        font-size: 2rem;
    }
    .idioma__item{
        font-size: 2rem;

    }
    








    .Noticias{
        display: flex;
        flex-direction: column;
        
        
        

    }

    .Noticias__titulo--UltimasNoticias{
        font-size: 2.3rem;
        text-align: center;
    }
    .Noticias__imagen{
        max-width: 400px;
    }

    .Noticias__titulo{
        font-size: 2rem;
    }

    .Noticias__parrafo{
        font-size: 1.3rem;
    }

    .video__iframe{
        width: 650px;
        height: 315px;
    }
    .video__titulo{
        font-size: 1.5rem;
    }

    .EleccionDE{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        
    }
    .EleccionDe__titulo{
        font-size: 1.5rem;

    }

    .footer{
        font-size: 1.5rem;
    }

    .footer__titulo{
        font-size: 2rem;
    }

    .suscribirse__titulo{
        font-size: 1.5rem;
    }

    .suscribirse__email{
        font-size: 1.2rem;
    }





    

    

    


   
        
    }
        

    }
    

    
    

    }
    
    

    













