*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
    
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: black;

}

header{
    background-color: darkslategray;

}

nav{
    background-color: goldenrod;
}

footer{
    background-color: darkslategray;
}

body{
    font-family: "Poppins", sans-serif
}