@media(min-width:1024px){

.footer{
    background-color: darkslategray;
}   
    
.footer{
    font-size: 1.5rem;
}

.footer__titulo{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.footer__red{
    text-align: center;
}

.footer__logo{
    max-width:50px;
    margin-left:200px;
}

.footer__link{
    margin-left: 120px;
    margin-bottom: 10px;
}
.footer__logo--Tiktok{
    max-width:50px;
    margin-left:200px;
    margin-bottom: 90px;
}

.suscribirse__titulo{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 50px;
}

.suscribirse__form{
    text-align: center;
}

.suscribirse__label{
    margin-left: 20px;
}

.suscribirse__email{
    font-size: 1.2rem;
}

.footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    hr{
        display: none;
    }
}

}