@media(min-width:320px) and (max-width:1023px){
    
section h3 h2 p{
    gap: 1,3rem;
}

.Noticias__parrafo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2%;
    font-size: 0,8rem;
}

.Noticias__titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2%;
}

img{
    max-width: 100%;
}

}