@media(min-width:1024px){
    
article.video__articulo{
        display: grid;
        grid-template-columns: 2fr 1fr;
        .video__iframe{
            grid-column: 2 / 3;
        }
    }
.video__iframe{
        width: 650px;
        height: 315px;     
    }
    
.video__titulo{
        font-size: 1.5rem;
        text-align: end;
    }
    
}